#main-deck, #extra-deck {
    display: flex;
    flex-wrap: wrap;
}

main {
    display: flex;
}

section {
    flex: 1 1 25%;
}

#deckview {
    flex: 2 1 50%;
}

/* Style the button that is used to open and close the collapsible content */
.comboButton {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.bigCard {
    width: 100%;
}

/* Style the collapsible content. Note: hidden by default */
.comboContent {
    padding: 0 18px;
    display: flex;
    overflow: hidden;
    background-color: #f1f1f1;
}

.activeComboContent {
    display: flex;
}

.card-container {
    height: 144px;
    margin: 5px;
}

.OneCard {
    background-image: url(../Images/CardBorders/oneCard.png);
}

.TwoCardA {
    background-image: url(../Images/CardBorders/twoCardA.png);
}

.TwoCardB {
    background-image: url(../Images/CardBorders/twoCardB.png);
}

.Extenders {
    background-image: url(../Images/CardBorders/extender.png);
}

.Bricks {
    background-image: url(../Images/CardBorders/brick.png);
}

.EngineReq {
    background-image: url(../Images/CardBorders/enginereqs.png);
}

.Weaknesses {
    background-image: url(../Images/CardBorders/weakness.png);
}
